.container{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    height: 500%;
    margin-top: 100px;
    margin-left: 500px;
    width: 30%;
}
.card{
    border: 2px solid black;
    margin-top: 20px;
    height: 70px;
    width: 500px;
    margin-left: 50px;
}